[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	create = group Lenovo A6000 maintainers
	push = +force group Lenovo A6000 maintainers
	pushMerge = group Lenovo A6000 maintainers
	label-Code-Review = -2..+2 group Lenovo A6000 maintainers
	label-Verified = -1..+1 group Lenovo A6000 maintainers
	submit = group Lenovo A6000 maintainers
[access "refs/for/refs/heads/*"]
	pushMerge = group Lenovo A6000 maintainers
